.mod-operate i,
.mod-operate div {
    color: #7fa9dc
}

.mod-operate.mod-operate-follow i,
.mod-operate.mod-operate-follow div {
    color: #ff8200
}

.module-vcard .icon_loading div {
    width: 36px;
    height: 36px;
    margin: 5px auto 0;
    background: url(http://u1.sinaimg.cn/upload/2014/07/31/94072.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-animation: loadingr 20s linear infinite;
    animation: loadingr 20s linear infinite;
    display: block
}

.ux-ztBtns div {
    text-align: center
}

.ux-popmenu header {
    height: 87px;
    padding: 8px 0;
    text-align: center;
    background: #f8f8f8;
    font-size: 12px;
    margin-bottom: 1px
}

.more-detail a {
    display: block;
    position: relative
}

.card11 .more-detail a {
    text-decoration: none
}

.card16 .box-col a {
    display: block
}

.card27 .more-detail a {
    text-decoration: none;
    display: block
}

.card38 .more-detail a {
    text-decoration: none
}

.card9 .more-detail a {
    padding: .375rem 0;
    text-decoration: none
}

.blockbox a {
    color: #598abf
}

.module-credit .t_rule a {
    color: #5184bc;
    line-height: 1
}

.S-wrapper .ctrlbar a {
    display: block;
    width: 72px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: rgba(128, 128, 128, .4);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, .3) inset;
    border-radius: 2px;
    -webkit-border-radius: 2px
}

.wrapper-popup .popup .content-popup .action-popup a {
    padding: 0;
    line-height: 26px;
    font-size: .875rem;
    float: left\9;
    width: 41% \9
}

.module-label a {
    color: #507daf
}

.module-goodspublisher .info-publisher a {
    margin-bottom: .0625rem;
    background-color: #fff;
    border: 1px solid #fff
}

.msg-item .bubble a {
    word-break: break-all
}

.msg-item.me .bubble a {
    color: #fff
}

.md-login-area a {
    padding: 0 .75rem;
    color: #333;
    font-size: .9375rem;
    position: relative;
    letter-spacing: normal
}

.wrapper-popup .sub-header a {
    height: 27px;
    line-height: 27px;
    font-size: .75rem
}

.wrapper-popup .widget-pager a {
    border: #dfdfdf solid 1px;
    border-color: #c2c2c2 #b6b6b6 #a9a9a9;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: .75rem;
    color: #4a4a4a;
    text-align: center;
    background: #fdfdfd;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eaeaea));
    background: -moz-linear-gradient(#fdfdfd, #eaeaea);
    background: -o-linear-gradient(#fdfdfd, #eaeaea);
    background: -ms-linear-gradient(#fdfdfd, #eaeaea);
    background: linear-gradient(to bottom, #fdfdfd, #eaeaea);
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.module-publisher .info-publisher a {
    margin-bottom: 1px;
    background-color: #fff;
    border: 1px solid #fff
}

.module-publisher .action-publisher span,
.module-publisher .action-publisher a {
    color: #888
}

.wxzw-wrapper .article.camera footer a {
    padding: 6px 0;
    text-decoration: none
}

.wxzw-wrapper .action-wrapper .more a {
    display: inline-block;
    padding: 0 5px;
    background: #fff
}

.wxzw-wrapper .ewm-box a {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 1.375rem;
    padding: 1px
}

.stage-single-landing .card11 .more-detail .icon-font,
.stage-single-landing .card11 .more-detail a,
.stage-single-rcList .card11 .more-detail .icon-font,
.stage-single-rcList .card11 .more-detail a {
    color: #5184bc
}

.mod-usertag-input a {
    color: #ff8200;
    padding-right: .75rem;
    display: block;
    line-height: 2.75rem
}

.module-vcard footer a {
    color: #828282
}

.J-slider .ctrlbar a {
    display: block;
    width: 72px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: rgba(128, 128, 128, .4);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, .3) inset;
    border-radius: 2px;
    -webkit-border-radius: 2px
}

.J-slider .J-guide-pop a {
    display: block;
    margin: 0 auto 15px auto;
    height: 37px;
    line-height: 37px;
    width: 250px;
    text-align: center;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
    color: #5d5d5d;
    font-size: 17px
}

.ux-popmenu header a {
    overflow: hidden;
    display: inline-block;
    text-align: center
}

.ux-popmenu section a {
    display: block;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    background: #f8f8f8;
    color: #333;
    margin-bottom: 1px
}

.result-info a {
    color: #69b0ff
}

.result-action a {
    display: inline-block;
    min-width: 70px;
    line-height: 25px;
    text-align: center;
    -webkit-border-radius: 1px;
    border-radius: 1px
}

.relation-wrapper .list a {
    position: relative;
    display: block;
    padding: 10px 30px 8px 10px;
    line-height: 1.5em;
    color: #e6e6e6;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: #4d4d4d solid 1px
}

.relation-wrapper .action p a {
    display: block;
    margin: 0 4px 0 0;
    border: #454545 solid 1px;
    width: 0;
    line-height: 25px;
    font-size: .75rem;
    color: #e6e6e6;
    text-align: center;
    background: 0 0;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.mod-stargrouplist .fans-list-wrapper .show h1 {
    padding-top: 20px;
    margin-bottom: 7px;
    font-size: 22px;
    color: #fff;
    font-weight: 700
}

#J-group-forapp-alert .hongbao-card h2 {
    margin: 18px 0 6px;
    font-size: 15px
}

.wrapper-popup .list-pos-pop .item-pos-pop h2 {
    margin: 5px 0 0;
    font-weight: 400
}

.mod-stargrouplist .fans-list-wrapper .show h2 {
    font-size: 19px;
    color: #fff;
    font-weight: 700
}

.module-textarea textarea {
    display: block;
    border: #c8c8c8 solid 1px;
    padding: 12px 15px;
    width: 100%;
    height: 200px;
    line-height: 1.375rem;
    font-size: 1rem;
    resize: none;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -wekbit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .05);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-appearance: none
}

.module-pub textarea {
    width: 100%;
    border: 0;
    height: 40px;
    padding: 10px;
    font-size: .875rem;
    resize: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    display: block
}

.module-report textarea {
    width: 100%;
    margin: 0;
    min-height: 36px;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 4px;
    border: silver 1px solid;
    resize: vertical;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.module-review textarea {
    font-size: 16px;
    display: block;
    outline: 0;
    resize: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    border: none;
    -webkit-tap-highlight-color: transparent
}

.card52 span {
    color: #FF8200;
    margin: 0 .5rem 0 0
}

.feed-loading span {
    display: inline-block;
    margin: 14px 0;
    padding: 0 0 0 25px;
    font-size: .75rem;
    line-height: 19px;
    color: #7c7c7c;
    background: url(../../img/440/main_loading.e80dbb01.gif) no-repeat 0 0;
    -webkit-background-size: 19px auto;
    background-size: 19px auto
}

.WX-quicklyLog-txt span {
    vertical-align: middle
}

.module-cover .item-main span {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    font-weight: 400
}

.module-goodspublisher .wrapper-info-goods p span {
    display: block;
    overflow: hidden;
    white-space: nowrap
}

.module-goodspublisher .action-publisher span {
    color: #888
}

.module-pub .left span {
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    float: left;
    width: 16.6%
}

#J-group-forapp-alert .hongbao-card h2 span {
    display: inline-block;
    max-width: 65%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top
}

.md-login-logo span {
    width: 4rem;
    height: 2rem;
    display: inline-block
}

.ux-guideTips p span {
    display: inline-block;
    vertical-align: bottom;
    width: 27px;
    height: 27px;
    background-repeat: no-repeat
}

.wrapper-popup .sub-header span {
    font-size: 1.25rem;
    line-height: 40px;
    display: inline-block;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.module-infobox.more span {
    padding: 0 5px;
    line-height: 20px;
    font-size: .75rem;
    color: #5184bc;
    background: #fff
}

.wxzw-wrapper .article .content .gif span {
    position: relative;
    display: inline-block;
    max-width: 100%
}

.wxzw-wrapper .btn-wrapper .btn-pyq span {
    display: inline-block;
    padding: 0 0 0 26px;
    width: 100%;
    max-width: 134px;
    background-repeat: no-repeat;
    background-position: 4px center;
    background-image: url(../../img/wxzw/pyq-icon.75fa7d4f.png);
    -webkit-background-size: 22px auto;
    background-size: 22px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.wxzw-wrapper .btn-wrapper .btn-pyq span {
    background-image: url(../../img/wxzw/pyq-icon_2x.428bc5c5.png)
}


}
.wxzw-wrapper .recommend-line span {
    background: #f8f8f8;
    line-height: 1.42;
    font-size: .75rem;
    padding: 0 .625rem;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
    color: #939393
}
.wxzw-wrapper .recommend-tit span {
    display: block
}
.wxzw-wrapper .pyq-guide-wrapper .content span {
    color: #f46200
}
.stage-single-landing .module-infobox.more span,
.stage-single-rcList .module-infobox.more span {
    background: #f8f8f8
}
.J-slider #J-zan span {
    width: 35px;
    display: block;
    height: 30px;
    text-align: center;
    float: left
}
.ux-popmenu header span {
    color: #333;
    display: block
}
.ux-popmenu section span {
    display: block;
    background: #f8f8f8
}
.quicklyRegPopup-content .pwd-label span {
    margin: 0 0 0 10px
}
.topbar-pop .list .item-split span {
    position: relative;
    z-index: 1;
    margin: 0 0 0 8px;
    padding: 0 2px;
    background: #606060
}
.module-block-addkeyword .key-wrapper input {
    border: #c8c8c8 solid 1px;
    width: 100%;
    height: 44px;
    font-size: 16px;
    padding: 0 0 0 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
.item-info-page p input {
    border: none;
    font-size: 15px;
    outline: 0;
    width: 100%
}
.module-avatar input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-appearance: none
}
.module-input input {
    display: block;
    margin: 0;
    border: none;
    padding: 13px 12px;
    width: 100%;
    font-size: 1rem;
    color: #333;
    background: 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none
}
.module-goodspublisher .J-preview input {
    position: absolute;
    left: 0;
    opacity: 0;
    vertical-align: middle
}
.module-goodspublisher .wrapper-info-goods p input {
    border: none;
    padding: 0 0 0 .1875rem;
    font-size: 1rem;
    color: #333;
    width: 5.625rem;
    line-height: 1.75rem;
    background-color: transparent
}
.module-goodspublisher .wrapper-info-goods .wrapper-link input {
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    line-height: 25px
}
.module-pub .left input {
    width: 60px;
    height: 35px;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0
}
.wrapper-contact-pop .input-info-page input {
    padding: 0 0 0 2%;
    height: 36px;
    line-height: 36px;
    width: 98%;
    font-size: 1rem
}
.module-publisher .J-preview input {
    position: absolute;
    left: 0;
    opacity: 0;
    vertical-align: middle
}
.mod-usertag-input input {
    font-size: 1rem;
    line-height: 1rem;
    height: 2.75rem;
    padding-left: .75rem;
    border: 0 none;
    width: 100%;
    box-sizing: border-box
}
.alert-wrapper .wrapper .input-item input {
    -webkit-appearance: none;
    display: block;
    margin: 0;
    border: #c8c8c8 solid 1px;
    border-top: none;
    padding: 9px 0 10px 8px;
    width: 100%;
    font-size: .875rem;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0
}
.quicklyRegPopup-content .input-item input {
    -webkit-appearance: none;
    margin: 0;
    display: block;
    border: #c8c8c8 solid 1px;
    padding: 0 0 0 8px;
    width: 100%;
    height: 100%;
    font-size: .875rem;
    background: #fff;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -wekbit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0
}
.quicklyRegPopup-pwd-item .input-item input {
    padding-right: 56px
}
.container {
    padding: .4375rem 0
}
.container {
    padding: 0
}
.module-topbar {
    height: 44px;
    color: #333;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 19;
    -wekbit-box-shadow: 0 1px 2px #cfcfcf;
    box-shadow: 0 1px 2px #cfcfcf;
    background: #f9f9f9
}
.fl {
    float: left
}
.module-topbar .txt-link {
    padding: 0 10px;
    font-size: 1.0625rem;
    line-height: 44px;
    color: #FF8200
}
.fr {
    float: right
}
.iconf.disable {
    opacity: .4
}
.module-topbar .iconf.disable {
    color: rgba(68, 68, 68, .3)
}
.module-topbar .txt-link.disable {
    color: rgba(68, 68, 68, .3)
}
.module-topbar.transparent .title.disable,
.module-topbar.transparent .iconf.disable {
    color: rgba(255, 255, 255, .4)
}
.card .title {
    padding: .5rem .5rem .125rem .75rem
}
.card11>.title {
    margin: .625rem 0 .3125rem .75rem
}
.card21 .title {
    padding: .5rem .5rem .125rem .75rem
}
.card27 .title {
    padding: .375rem 0 .75rem 0
}
.card29 .title {
    padding: 0 0 .375rem 0
}
.card7 .title {
    padding: 0 0 .625rem
}
.card9 .head-bar .title {
    color: #e14123;
    padding: 0
}
#J-group-forapp-alert.alert-wrapper .wrapper .title {
    margin: 9px 0 20px
}
.module-topbar.home-topbar>.title {
    padding: 0 0 0 50px;
    text-align: left;
    line-height: 44px;
    color: #5d5d5d;
    background-repeat: no-repeat;
    background-position: 12px 9px;
    background-image: url(../../img/home/topbar-logo.96fd0dc6.png);
    -webkit-background-size: 29px auto;
    background-size: 29px auto
}
.module-topbar.home-topbar>.title {
    background-image: url(../../img/home/topbar-logo_2x.76f03f0a.png)
}

}
.module-topbar.home-topbar .drop-title .title {
    text-shadow:0 1px 0 #fff
}
.wxzw-wrapper .card11>.title {
    margin:0;
    padding:3px 0 2px 12px;
    background:#e9e9e9
}
.stage-single-landing .card11>.title,
.stage-single-rcList .card11>.title {
    margin:0;
    padding:0 12px;
    line-height:18px;
    font-weight:700;
    background:#e9e9e9
}
.module-topbar .title-group .title {
    font-size:1.0625rem;
    line-height:28px;
    color:#333
}
.module-topbar .drop-title .title {
    font-size:1.125rem;
    line-height:29px
}
.alert-wrapper .wrapper .title {
    margin:-7px 0 20px;
    font-size:1.125rem;
    text-align:center
}
.txt-cut {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.module-topbar .title-group .sub-title {
    margin:-2px 0 0;
    font-size:.75rem;
    line-height:1em;
    color:#aaa
}
.module-publisher {
    position:fixed;
    background-color:#fafafa;
    height:100%;
    width:100%;
    top:44px;
}
.module-goodspublisher .txt-publisher-wrapper {
    background-color:#fff
}
.module-publisher .txt-publisher-wrapper {
    background-color:#fff;
    padding:5px 0 0 0
}
.module-goodspublisher .J-textarea {
    height:7.0625rem
}

}
.module-goodspublisher .J-textarea {
    height:9.4375rem
}

}
.module-goodspublisher .J-textarea {
    height:13.125rem
}

}
.module-goodspublisher .action-publisher {
    background-color:#f9f9f9;
    overflow:hidden;
    font-size:1.375rem;
    text-align:center;
    position:relative;
    height:2.6875rem;
    z-index:1
}
.module-publisher .action-publisher {
    background-color:#f9f9f9;
    overflow:hidden;
    font-size:22px;
    text-align:center;
    position:relative;
    height:43px;
    z-index:1
}
.layout-box {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex
}
.card17 .layout-box {
    height:1.9375rem;
    line-height:1.9375rem
}
.card32 .layout-box {
    height:1.6875rem;
    -webkit-box-align:center;
    -moz-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    padding:.5rem .75rem
}
.card4 .layout-box {
    height:2rem;
    -webkit-box-align:center;
    -moz-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    padding:.375rem 0 .375rem .75rem
}
.card42 .layout-box {
    height:1.6875rem;
    -webkit-box-align:center;
    -moz-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    padding:.5rem 0 .5rem .75rem
}
.card53 .layout-box {
    background-image:url(http://h5.sinaimg.cn/upload/2015/12/17/28/smallpage_lefttop_2x.png);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:left center
}
[node-type=pop-list] .layout-box {
    display:table;
    border-bottom:#454545 solid 1px;
    padding:10px 0 15px;
    box-shadow:0 1px 0 #6c6c6c
}
.mod-tab>.layout-box {
    height:43px;
    line-height:43px;
    overflow:hidden
}
.layout-box .box-col {
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    width:100%
}
.card2 .box-col {
    position:relative;
    padding:.4375rem 0;
    text-align:center;
    display:block
}
.card23 .box-col {
    position:relative;
    height:2.0625rem;
    padding:.75rem 0;
    text-align:center
}
.mod-fansgrouplist .select-wrapper .box-col {
    overflow-x:scroll;
    -webkit-overflow-scrolling:touch
}
.module-goodspublisher .action-publisher .box-col {
    margin-top:.625rem
}
.mod-pagination .box-col {
    display:block
}
[node-type=pop-list] .layout-box .box-col {
    display:table-cell;
    position:relative;
    width:60px;
    height:36px;
    line-height:18px;
    text-align:center;
    vertical-align:middle;
    border-color:#454545
}
.module-publisher .action-publisher .box-col {
    margin-top:10px
}
.mod-tab>.layout-box .box-col {
    position:relative;
    text-align:center
}
.iconf {
    font-family:wb440;
    color:#444;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.module-input .card4 .plus .iconf {
    color:#929292
}
.module-goodspublisher .info-publisher .iconf {
    font-size:1.4375rem;
    color:#577b9e;
    -webkit-tap-highlight-color:transparent
}
.module-goodspublisher .action-publisher .iconf {
    -webkit-tap-highlight-color:transparent;
    padding:.625rem
}
.module-pub .iconf {
    font-size:1.125rem
}
.module-publisher .info-publisher .iconf {
    font-size:23px;
    color:#577b9e;
    -webkit-tap-highlight-color:transparent
}
.module-publisher .action-publisher .iconf {
    -webkit-tap-highlight-color:transparent;
    padding:10px
}
.module-topbar .iconf {
    width:46px;
    font-size:28px;
    height:44px;
    line-height:44px;
    color:#444;
    text-align:center
}
.module-topbar.transparent .title,
.module-topbar.transparent .iconf {
    color:#fff
}
.mod-usertag-list .label-list .item .txt .iconf {
    color:#5184bc
}
.topbar-pop .list .item .iconf {
    margin:0 0 0 6px;
    color:#929292
}
.module-goodspublisher .action-publisher .iconf_compose_picture {
    position:relative;
    top:-pxToRem(2)
}
.module-publisher .action-publisher .iconf_compose_picture {
    position:relative;
    top:-2px
}
.module-goodspublisher .action-publisher .picupload {
    opacity:0;
    position:absolute;
    width:3.75rem;
    height:2.1875rem;
    overflow:hidden;
    margin-left:-50px
}
.module-publisher .action-publisher .picupload {
    opacity:0;
    position:absolute;
    width:60px;
    height:35px;
    overflow:hidden;
    margin-left:-50px
}
#J-topicpop .iconf_compose_trend {
    position:relative;
    top:13px;
    left:-13px
}

.module-goodspublisher .J-textarea {
    padding:.5rem .875rem 0 .875rem;
    width:100%;
    outline:0;
    height:3.25rem;
    font-size:1rem;
    resize:vertical;
    border:none;
    background-color:#fff;
    -webkit-tap-highlight-color:transparent;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

.module-publisher .J-textarea {
    padding:8px 14px 0 14px;
    width:100%;
    height:120px;
    font-size:16px;
    resize:vertical;
    border:none;
    background-color:#fff;
    -webkit-tap-highlight-color:transparent;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}