ul,
li,
dl,
dd,
dt {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li,
.left {
    float: left;
    display: inline;
}

input,
textarea,
button,
select {
    outline: none;
    resize: none;
}

.topBanner div {
    height: 35px;
    color: #7b7b7b;
    width: 65px;
    height: 35px;
    line-height: 14px;
    display: inline-block;
    position: relative;
    top: -10px;
}

.newscon ul {
    margin-top: 10px;
}

.companycon ul {
    padding-top: 10px;
}

.comingcon .navcon ul {
    background-color: #ffffff;
    height: 30px;
}

.alreadycon .navcon ul {
    background-color: #ffffff;
    height: 30px;
    float: left;
}

.logincon .con2 ul {
    width: 300px;
    text-align: center;
    margin: auto;
}

.expertcon ul {
    margin-top: 60px;
}


/* .roadshowlivecon .sphcon ul{ margin-top:10px; margin-left:4px; font-size:12px;} .roadshowlivecon .itemcon .navcon ul{ background-color:#ffffff; height:30px; float:left; margin-right:15px; } .roadshowlivecon .itemcon .navcon ul{ background-color:#ffffff; height:30px; float:left;} .rzshenfencon .introcon ul {list-style:circle;} .main_image ul{width:9999px;height:130px;overflow:hidden;position:absolute;top:0;left:0;} .message ul{ padding:3px;} .waringbox .lbox .lcon .con1 .inputs ul{ } .msglist ul.round li {border: solid #C6C6C6;border-width: 0 0 1px 0;padding: 0px 10px 0 10px;line-height: 22px;float:none;display:list-item;} .fixtop .listbox ul li{ border-bottom:1px solid #b7f4ef; display:list-item; float:none; text-align:left; line-height:36px; padding-left:20px; color:White; font-size:14px; font-weight:bold; cursor:pointer;} .indexcon .willroadshow ul li{width:306px;background-color:#f8f8f8;border:1px solid #dedede;border-radius:5px; margin-bottom:20px;} .indexcon .roadshow ul li{ margin-bottom:20px;width:306px;background-color:#f8f8f8;border:1px solid #dedede;border-radius:5px;} .indexcon .roadsu ul li{ margin-bottom:20px;width:306px;background-color:#f8f8f8;border:1px solid #dedede;border-radius:5px;} .indexcon .wangroadshow ul li{width:306px;background-color:#f8f8f8;border:1px solid #dedede;border-radius:5px; margin-bottom:20px;} .livelistcon .zbroadshow ul li{width:306px;background-color:#f8f8f8;border:1px solid #dedede;border-radius:5px; margin-bottom:20px;} .livelistcon .wangroadshow ul li{width:306px;background-color:#f8f8f8;border:1px solid #dedede;border-radius:5px; margin-bottom:20px;} .demodaycon .dlist ul li{ margin-bottom:20px;width:306px;background-color:#f8f8f8;border:1px solid #dedede;border-radius:5px;} .newscon ul li{ width:306px; height:60px; margin-bottom:5px;border:1px solid #dedede;border-radius:5px; padding:5px; background-color:#ffffff;} .comingcon .navcon ul li{ font-size:14px; width:75px; margin-right:5px;cursor:pointer; line-height:30px; } .comingcon .rcon ul li{ color:#5c626d;display:list-item; float:none;width:100%; padding-bottom:15px; line-height:20px; font-size:12px;border-bottom:1px dashed #999999;} .comingcon .alllistbm .alllist .list ul.round li {border: solid #C6C6C6;border-width: 0 0 1px 0;padding: 0px 10px 0 10px;line-height: 22px;float:none;display:list-item;} .demodaydetailcon .list ul.round li {border: solid #C6C6C6;border-width: 0 0 1px 0;padding: 0px 10px 0 10px;line-height: 22px;float:none;display:list-item;} .alreadycon .vdlist .tcon li{ padding:10px 5px 10px 5px; } .alreadycon .navcon ul li{ font-size:14px; width:78px;cursor:pointer; line-height:30px; color:White; background-color:#73C6C8; border-right:2px solid White;filter:alpha(opacity=70); /*IE滤镜，透明度50%*/

-moz-opacity:0.7;

/*Firefox私有，透明度50%*/

opacity:0.7;

}
.alreadycon .rcon ul li {
    color: #5c626d;
    display: list-item;
    float: none;
    width: 100%;
    padding-bottom: 15px;
    line-height: 20px;
    font-size: 14px;
    border-bottom: 1px dashed #999999;
}
.alreadycon .list ul.round li {
    border: solid #C6C6C6;
    border-width: 0 0 1px 0;
    padding: 0px 10px 0 10px;
    line-height: 22px;
    float: none;
    display: list-item;
}
.alreadycon .alllistbm .alllist .list ul.round li {
    border: solid #C6C6C6;
    border-width: 0 0 1px 0;
    padding: 0px 10px 0 10px;
    line-height: 22px;
    float: none;
    display: list-item;
}
.logincon .con2 li {
    color: #7d7e81;
    font-size: 12px;
    width: 142px;
}
.expertcon ul li {
    width: 306px;
    height: 210px;
    margin-bottom: 5px;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff;
}
.rslivecon .list .bmlist ul li {
    width: 180px;
    color: #333333;
}
.rslivecon .list .yxlist ul li {
    width: 180px;
    color: #333333;
}
.rslivecon .succeed li {
    width: 180px;
    text-align: left;
}
.roadshowlivecon .sphcon li {
    margin-left: 4px;
    width: 304px;
    background-color: White;
    margin-right: 4px;
    margin-bottom: 10px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    border: 2px solid #cccccc;
    cursor: pointer;
}
.roadshowlivecon .vdlist .tcon li {
    padding: 10px 5px 10px 5px;
}
.roadshowlivecon .itemcon .navcon ul li {
    font-size: 14px;
    width: 60px;
    margin-left: 9px;
    margin-right: 9px;
    cursor: pointer;
    line-height: 30px;
}
.roadshowlivecon .itemcon .navcon ul li {
    font-size: 14px;
    width: 78px;
    cursor: pointer;
    line-height: 30px;
    color: White;
    background-color: #73C6C8;
    border-right: 2px solid White;
    filter: alpha(opacity=70);
    /*IE滤镜，透明度50%*/
    
    -moz-opacity: 0.7;
    /*Firefox私有，透明度50%*/
    
    opacity: 0.7;
}
.roadshowlivecon .itemrcon ul li {
    color: #5c626d;
    display: list-item;
    float: none;
    width: 100%;
    padding-bottom: 15px;
    line-height: 20px;
    font-size: 14px;
    border-bottom: 1px dashed #999999;
}
.rzshenfencon .introcon ul li {
    font-size: 12px;
    text-align: left;
    line-height: 25px;
    margin-left: 10px;
    width: 300px;
    font-family: 宋体;
}
.main_image li {
    float: left;
    height: 130px;
}
.cnav li {
    width: 80px;
    margin-top: 20px;
}
.message ul li {
    border-bottom: 1px solid #dadada;
    float: none;
    width: 100%;
    display: block;
    min-height: 50px;
}
.waringbox .lbox .lcon .con1 .inputs ul li {
    width: 300px;
    line-height: 32px;
}
a {
    text-decoration: none;
    color: Gray;
}
.pg a {
    background: #a3a7ae;
    color: White;
    padding: 0px 8px 0 8px;
    font-size: 12px;
    text-align: center;
    display: inline-block;
}
.hybox a {
    cursor: pointer;
    display: block;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
    margin-bottom: 5px;
    background: #ffffff;
}
.areabox a {
    cursor: pointer;
    display: block;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
    margin-bottom: 5px;
    background: #ffffff;
}
.quanbox a {
    cursor: pointer;
    display: block;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
    margin-bottom: 5px;
    background: #ffffff;
}
.tzbox a {
    cursor: pointer;
    display: block;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
    margin-bottom: 5px;
    background: #ffffff;
}
.lawbox a {
    cursor: pointer;
    display: block;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
    margin-bottom: 5px;
    background: #ffffff;
}
.accountingbox a {
    cursor: pointer;
    display: block;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
    margin-bottom: 5px;
    background: #ffffff;
}
.dzbox a {
    cursor: pointer;
    display: block;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
    margin-bottom: 5px;
    background: #ffffff;
}
.comingcon .rcon a {
    color: #323a45;
    font-weight: bold;
    margin: 10px;
    font-size: 12px;
}
.comingcon .rcon .xsblist a {
    display: inline-block;
    width: 145px;
    margin: 10px 0 10px 0;
}
.comingcon .rcon ul.releasecon li a {
    width: 70%;
    display: block;
}
.comingcon .rcon .pg a {
    text-align: center;
    background: #a3a7ae;
    color: White;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}
.alreadycon .rcon a {
    color: #323a45;
    font-weight: bold;
    margin: 10px;
    font-size: 14px;
}
.alreadycon .rcon .xsblist a {
    display: inline-block;
    width: 145px;
    margin: 10px 0 10px 0;
}
.alreadycon .rcon ul.releasecon li a {
    width: 70%;
    display: block;
}
.alreadycon .rcon .pg a {
    text-align: center;
    background: #a3a7ae;
    color: White;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
}
.roadshowlivecon .itemrcon a {
    color: #323a45;
    font-weight: bold;
    margin: 10px;
    font-size: 14px;
}
.roadshowlivecon .itemrcon .xsblist a {
    display: inline-block;
    width: 145px;
    margin: 10px 0 10px 0;
}
.roadshowlivecon .itemrcon ul.releasecon li a {
    width: 70%;
    display: block;
}
.roadshowlivecon .itemrcon .pg a {
    text-align: center;
    background: #a3a7ae;
    color: White;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
}
.topBanner a {
    height: 15px;
    float: right;
    line-height: 15px;
    padding: 2px 2px;
    background-color: #c00;
    margin-top: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.main_image li a {
    display: block;
    width: 100%;
    height: 120px
}
/*width:50px;*/
div.flicking_con a {
    float: left;
    width: 10px;
    height: 21px;
    margin: 0;
    padding: 0;
    background: url('../img/btn_main_img.png') -5px 0 no-repeat;
    display: block;
    text-indent: -1000px
}
img {
    border: 0px;
}
.fixtop .banner img {
    height: 50px;
}
.fixtop .listbox ul li img {
    width: 20px;
    position: relative;
    top: 5px;
    margin-right: 3px;
}
.fixtop .listbox .jt img {
    margin-left: 100px;
}
.fixkf img {
    float: right;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    top: -2px;
    left: 3px;
}
.footerbtns img {
    height: 25px;
}
.fix .banner .tit img {
    height: 50px;
}
.fix img {
    height: 35px;
}
.zsinfo img {
    margin-bottom: -0.14286rem;
    margin-right: 5px;
}
.indexcon .willroadshow .logo img {
    width: 306px;
    height: 173px;
}
.indexcon .roadshow .logo img {
    width: 306px;
    height: 173px;
}
.indexcon .roadsu .logo img {
    width: 306px;
    height: 173px;
}
.indexcon .wangroadshow .logo img {
    width: 306px;
    height: 173px;
}
.livelistcon .zbroadshow .logo img {
    width: 306px;
    height: 173px;
}
.livelistcon .wangroadshow .logo img {
    width: 306px;
    height: 173px;
}
.demodaycon .dlist .logo img {
    width: 306px;
    height: 173px;
}
.newscon ul li img {
    width: 79px;
    height: 57px;
}
.newsdetailcon img {
    width: 300px;
    margin: 10px;
}
.companycon li.kuai img {
    width: 50px;
    height: 45px;
    float: left;
}
.roadcon .logo img {
    width: 320px;
    height: 173px;
}
.comingcon .info img {
    width: 320px;
    height: 180px;
}
.comingcon .rcon a img {
    width: 80px;
    height: 36px;
}
.comingcon .rcon .intros .logo img {
    width: 280px;
    height: auto;
    margin-left: 10px;
}
.comingcon .rcon .intros img {
    width: 280px;
    height: auto;
}
.fixfooter .footer img {
    height: 25px;
}
.fixfooter1 .footer img {
    height: 25px;
}
.demodaydetailcon .info img {
    width: 320px;
    height: 180px;
}
.demodaydetailcon .intros img {
    width: 280px;
    height: auto;
}
.alreadycon .vdlist .tcon li img {
    width: 150px;
    height: 120px;
}
.alreadycon .leftnva img {
    width: 12px;
    height: 12px;
}
.alreadycon .rightnva img {
    width: 12px;
    height: 12px;
}
.alreadycon .rightnva1 img {
    width: 10px;
    height: 10px;
}
.alreadycon .rcon a img {
    width: 80px;
    height: 36px;
}
.alreadycon .rcon .intros .logo img {
    width: 280px;
    height: auto;
    margin-left: 10px;
}
.alreadycon .rcon .intros img {
    width: 280px;
    height: auto;
}
.logincon .con2 img {
    width: 138px;
    height: 40px;
}
.expertcon ul li img {
    width: 306px;
    height: 180px;
    position: relative;
    top: -65px;
}
.expertdetailcon .img img {
    width: 300px;
    margin: 10px;
}
.rslivecon .clock img {
    width: 46px;
    height: 46px;
    margin-left: 97px;
}
.rslivecon .info .clock1 img {
    width: 16px;
    height: 16px;
}
.rslivecon .list .bmlist li img {
    height: 20px;
    position: relative;
    top: 2px;
}
.rslivecon .list .yxlist li img {
    height: 20px;
    position: relative;
    top: 2px;
}
.rslivecon .wan img {
    width: 16px;
    height: 16px;
}
.roadshowlivecon .rdcon img {
    width: 320px;
    height: 180px;
}
.xmpptcon img {
    width: 320px;
}
.roadshowlivecon .vdlist .tcon li img {
    width: 150px;
    height: 120px;
}
.roadshowlivecon .sphcon .imgscroll img {
    width: 20px;
    height: 20px;
}
.roadshowlivecon .itemrcon img {
    width: 320px;
}
.roadshowlivecon .itemrcon a img {
    width: 80px;
    height: 36px;
}
.roadshowlivecon .itemrcon .intros .logo img {
    width: 280px;
    height: auto;
    margin-left: 10px;
}
.roadshowlivecon .itemrcon .intros img {
    width: 280px;
    height: auto;
}
/*******商业计划书控制*********/
.con .rcon img {
    width: 320px;
}
.alreadycon .rcon img {
    width: 320px;
}
.topBanner img {
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
    top: -2px;
    left: 3px;
}
/*.rzshenfencon .tab .rcon .imgcon img{width:256px;height:240px; } .imgscroll img {width:20px; height:20px;} .main_image li img{width:306px;height:100px; margin:auto;} .cnav img{ width:50px; }/*border-bottom:1px solid #57b2ab; */
.message .mtit img {
    margin-left: 5px;
    width: 15px;
}
.waringbox .lbox .ltop img {
    float: right;
    margin: 15px;
}
.sel span {
    line-height: 23px;
    padding-left: 10px;
    font-size: 12px;
    z-index: 2;
    color: #3f3f3f;
    height: 23px;
}
.txt span {
    font-size: 25px;
}
.fixtop span {
    font-size: 18px;
    margin-left: 5px;
    color: #b0b0b0;
}
.footerbtns span {
    font-size: 12px;
    line-height: 20px;
    color: #999999;
}
.fix span {
    font-size: 18px;
    line-height: 20px;
    margin-left: 5px;
    color: #b0b0b0;
}
.fix .btns span {
    font-size: 12px;
    margin-left: 5px;
    color: #999;
    font-weight: bold;
    position: relative;
    top: -10px;
}
.indexcon .willroadshow ul li .ttm span {
    float: right;
    padding-right: 3px;
}
.indexcon .willroadshow li .maininfo span {
    color: #59c4bc;
    font-weight: bold;
}
.indexcon .willroadshow .jdbox span {
    font-size: 14px;
    font-weight: bold;
    color: Black;
}
.indexcon .roadshow ul li .ttm span {
    float: right;
    padding-right: 3px;
}
.indexcon .roadshow .titcon span {
    float: right;
    padding-right: 3px;
    font-size: 14px;
    color: Gray;
}
.indexcon .roadshow .shengs span {
    font-weight: bold;
    color: Black;
    font-size: 14px;
}
.indexcon .roadshow ul li .maininfo span {
    color: #59c4bc;
    font-weight: bold;
}
.indexcon .roadshow .jdbox span {
    font-size: 14px;
    font-weight: bold;
    color: Black;
}
.indexcon .roadsu ul li .ttm span {
    float: right;
    padding-right: 3px;
}
.indexcon .roadsu .titcon span {
    float: right;
    padding-right: 3px;
    font-size: 14px;
    color: Gray;
}
.indexcon .roadsu .shengs span {
    font-weight: bold;
    color: Black;
    font-size: 14px;
}
.indexcon .roadsu ul li .maininfo span {
    color: #59c4bc;
    font-weight: bold;
}
.indexcon .roadsu .jdbox span {
    font-size: 14px;
    font-weight: bold;
    color: Black;
}
.indexcon .wangroadshow .jdbox span {
    font-size: 14px;
    font-weight: bold;
    color: Black;
}
.indexcon .tab span {
    margin-left: 30px;
}
.livelistcon .tab span {
    margin-left: 30px;
}
.livelistcon .zbroadshow .jdbox span {
    font-size: 14px;
    font-weight: bold;
    color: Black;
}
.livelistcon .wangroadshow .jdbox span {
    font-size: 14px;
    font-weight: bold;
    color: Black;
}
.xsbhqbox .tradedata .currentdata .tit span {
    font-size: 12px;
    margin-left: 20px;
}
.liulan .ttm span {
    float: right;
    padding-right: 3px;
}
.comingcon .info .jdbox span {
    font-size: 14px;
    font-weight: bold;
    color: Black;
}
.comingcon .info .shengs span {
    font-weight: bold;
    color: Black;
}
.comingcon .rcon ul li span {
    font-weight: bold;
    line-height: 30px;
}
.comingcon .rcon ul.releasecon span {
    float: right;
    margin-right: 5px;
}
.fixfooter .footer span {
    font-size: 12px;
    line-height: 20px;
    color: #999999;
}
.fixfooter1 .footer span {
    font-size: 12px;
    line-height: 20px;
    color: #999999;
}
.alreadycon .info .jdbox span {
    font-size: 14px;
    font-weight: bold;
    color: Black;
}
.alreadycon .info .shengs span {
    font-weight: bold;
    color: Black;
    font-size: 14px;
}
.alreadycon .info .maininfo span {
    color: #59c4bc;
    font-weight: bold;
}
.alreadycon .rcon ul li span {
    font-weight: bold;
    line-height: 30px;
}
.alreadycon .rcon ul.releasecon span {
    float: right;
    margin-right: 5px;
}
.alreadycon .rcon .srtable span {
    color: #d52b2b
}
.alreadycon .rcon .tit span {
    font-weight: bold;
}
.sponsor .typetit span {
    text-align: left;
    color: #f5696c;
    font-size: 24px;
    font-weight: bold;
}
.sponsor span {
    display: inline-block;
    width: 230px;
    font-size: 12px;
    color: #666666;
    line-height: 20px;
}
.roadshowlivecon .itemrcon ul li span {
    font-weight: bold;
    line-height: 30px;
}
.roadshowlivecon .itemrcon ul.releasecon span {
    float: right;
    margin-right: 5px;
}
.roadshowlivecon .itemrcon .srtable span {
    color: #d52b2b
}
.roadshowlivecon .itemrcon .tit span {
    font-weight: bold;
}
.roadshowlivecon .listbox .item span {
    color: #3df3f1;
}
.listbox .item span {
    color: #3df3f1;
    float: right;
    padding-right: 20px;
}
.main_image li span {
    display: block;
    width: 100%;
    height: 120px
}
.message ul li span {
    color: #57b2ab;
    font-weight: bold;
    line-height: 30px;
    font-size: 14px;
}
.indexcon .roadshow {
    width: 306px;
    margin: auto;
    background-color: #f8f8f8;
    margin-bottom: 100px;
}
.indexcon .roadshow ul li.neicon {
    min-height: 20px;
}
.indexcon .roadsu ul li.neicon {
    min-height: 20px;
}
.indexcon .willroadshow ul li .ttm {
    font-size: 12px;
    color: #999999;
    text-align: left;
    text-indent: 3px;
    background: #eff2f5;
}
.indexcon .roadshow ul li .ttm {
    font-size: 12px;
    color: #999999;
    text-align: left;
    text-indent: 3px;
    background: #eff2f5;
}
.indexcon .roadsu ul li .ttm {
    font-size: 12px;
    color: #999999;
    text-align: left;
    text-indent: 3px;
    background: #eff2f5;
}
/***********预告详情页面**************/
.liulan .ttm {
    font-size: 12px;
    color: #999999;
    text-align: left;
    text-indent: 3px;
    background: #eff2f5;
}
.ttm {
    width: 306px;
    height: 17px;
    font-size: 12px;
    color: #999999;
    text-align: left;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    background: #eff2f5;
}
.indexcon .willroadshow .logo {
    width: 306px;
    height: 173px;
}
.indexcon .roadshow .logo {
    width: 306px;
    height: 173px;
}
.indexcon .roadsu .logo {
    width: 306px;
    height: 173px;
}
.indexcon .wangroadshow .logo {
    width: 306px;
    height: 173px;
}
.livelistcon .zbroadshow .logo {
    width: 306px;
    height: 173px;
}
.livelistcon .wangroadshow .logo {
    width: 306px;
    height: 173px;
}
.demodaycon .dlist .logo {
    width: 306px;
    height: 173px;
}
.roadcon .logo {
    width: 320px;
    height: 173px;
}
.indexcon .willroadshow .logo .vdbtn {
    width: 63px;
    height: 62px;
    background: url(../img/mvdbtn.png);
    margin: auto;
    margin-top: -120px;
    position: relative;
}
.indexcon .roadshow .logo .vdbtn {
    width: 63px;
    height: 62px;
    background: url(../img/mvdbtn.png);
    margin: auto;
    margin-top: -120px;
    position: relative;
}
.indexcon .roadsu .logo .vdbtn {
    width: 63px;
    height: 62px;
    background: url(../img/mvdbtn.png);
    margin: auto;
    margin-top: -120px;
    position: relative;
}
.indexcon .wangroadshow .logo .vdbtn {
    width: 63px;
    height: 62px;
    background: url(../img/mvdbtn.png);
    margin: auto;
    margin-top: -120px;
    position: relative;
}
.livelistcon .zbroadshow .logo .vdbtn {
    width: 63px;
    height: 62px;
    background: url(../img/mvdbtn.png);
    margin: auto;
    margin-top: -120px;
    position: relative;
}
.livelistcon .wangroadshow .logo .vdbtn {
    width: 63px;
    height: 62px;
    background: url(../img/mvdbtn.png);
    margin: auto;
    margin-top: -120px;
    position: relative;
}
.roadcon .logo .vdbtn {
    width: 63px;
    height: 62px;
    background: url(../img/mvdbtn.png);
    margin: auto;
    margin-top: -120px;
    position: relative;
}
.comingcon .info .vdbtn {
    width: 63px;
    height: 62px;
    background: url(../img/mvdbtn.png);
    margin: auto;
    margin-top: -140px;
    position: relative;
}
.roadshowlivecon .rdcon .vdbtn {
    width: 63px;
    height: 62px;
    background: url(../img/mvdbtn.png);
    margin: auto;
    margin-top: -120px;
    position: relative;
}
.adcon .vdbtn {
    width: 63px;
    height: 62px;
    background: url(../img/mvdbtn.png);
    margin: auto;
    margin-top: -80px;
    position: relative;
}
.indexcon .willroadshow .titcon {
    width: 306px;
    margin-top: 10px;
    display: inline-block;
    background-color: #f8f8f8;
}
.indexcon .roadshow .titcon {
    width: 306px;
    margin-top: 10px;
    display: inline-block;
}
.indexcon .roadsu .titcon {
    width: 306px;
    margin-top: 10px;
    display: inline-block;
}
.indexcon .wangroadshow .titcon {
    width: 306px;
    margin-top: 10px;
    display: inline-block;
    background-color: #f8f8f8;
}
.livelistcon .zbroadshow .titcon {
    width: 306px;
    margin-top: 10px;
    display: inline-block;
    background-color: #f8f8f8;
    padding-bottom: 10px;
}
.livelistcon .wangroadshow .titcon {
    width: 306px;
    margin-top: 10px;
    display: inline-block;
    background-color: #f8f8f8;
    padding-bottom: 10px;
}
.demodaycon .dlist .titcon {
    width: 306px;
    margin-top: 10px;
    display: inline-block;
}
.comingcon .info .titcon {
    width: 320px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
}
.demodaydetailcon .info .titcon {
    width: 320px;
    margin-top: 10px;
    display: inline-block;
}
.alreadycon .info .titcon {
    width: 320px;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
}
.rzshenfencon .tab .rcon .titcon {
    float: left;
    width: 256px;
    margin-right: 10px;
}
.indexcon .willroadshow .titcon .sign {
    margin-left: 10px;
    width: 65px;
    line-height: 25px;
    height: 25px;
    background-color: #59c4bc;
    color: White;
    font-size: 14px;
    float: left;
}
.indexcon .roadshow .titcon .sign {
    margin-left: 10px;
    padding: 0 10px 0 10px;
    line-height: 25px;
    height: 25px;
    background-color: #59c4bc;
    color: White;
    font-size: 14px;
    float: left;
}
.indexcon .roadsu .titcon .sign {
    margin-left: 10px;
    padding: 0 10px 0 10px;
    line-height: 25px;
    height: 25px;
    background-color: #59c4bc;
    color: White;
    font-size: 14px;
    float: left;
}
.indexcon .wangroadshow .titcon .sign {
    margin-left: 10px;
    width: 65px;
    line-height: 25px;
    height: 25px;
    background-color: #f5696c;
    color: White;
    font-size: 14px;
    float: left;
}
.livelistcon .zbroadshow .titcon .sign {
    margin-left: 10px;
    width: 65px;
    line-height: 25px;
    height: 25px;
    background-color: #f5696c;
    color: White;
    font-size: 14px;
    float: left;
}
.livelistcon .wangroadshow .titcon .sign {
    margin-left: 10px;
    width: 65px;
    line-height: 25px;
    height: 25px;
    background-color: #f5696c;
    color: White;
    font-size: 14px;
    float: left;
}
.demodaycon .dlist .titcon .sign {
    margin-left: 10px;
    width: 65px;
    line-height: 25px;
    height: 25px;
    background-color: #59c4bc;
    color: White;
    font-size: 14px;
    float: left;
}
.comingcon .info .titcon .sign {
    margin-left: 50px;
    width: 65px;
    line-height: 25px;
    height: 25px;
    background-color: #59c4bc;
    color: White;
    font-size: 14px;
    float: left;
}
.demodaydetailcon .info .titcon .sign {
    margin-left: 20px;
    width: 65px;
    line-height: 25px;
    height: 25px;
    color: White;
    font-size: 14px;
    float: left;
    background: #59c4bc;
}
.alreadycon .info .titcon .sign {
    margin-left: 10px;
    padding: 0 10px 0 10px;
    line-height: 25px;
    height: 25px;
    background-color: #59c4bc;
    font-weight: bold;
    color: White;
    font-size: 14px;
    float: left;
}
.indexcon .willroadshow .titcon .titname {
    margin-left: 10px;
    float: left;
    font-weight: bold;
    line-height: 25px;
    font-size: 14px;
}
.indexcon .roadshow .titcon .titname {
    margin-left: 10px;
    float: left;
    font-weight: bold;
    line-height: 25px;
    font-size: 14px;
}
.indexcon .roadsu .titcon .titname {
    margin-left: 10px;
    float: left;
    font-weight: bold;
    line-height: 25px;
    font-size: 14px;
}
.indexcon .wangroadshow .titcon .titname {
    margin-left: 10px;
    float: left;
    font-weight: bold;
    line-height: 25px;
    font-size: 14px;
}
.livelistcon .zbroadshow .titcon .titname {
    margin-left: 10px;
    float: left;
    font-weight: bold;
    line-height: 25px;
    font-size: 14px;
}
.livelistcon .wangroadshow .titcon .titname {
    margin-left: 10px;
    float: left;
    font-weight: bold;
    line-height: 25px;
    font-size: 14px;
}
.demodaycon .dlist .titcon .titname {
    margin-left: 10px;
    float: left;
    font-weight: bold;
    width: 220px;
    text-align: left;
    line-height: 25px;
    font-size: 14px;
}
.comingcon .info .titcon .titname {
    margin-left: 10px;
    float: left;
    font-weight: bold;
    line-height: 25px;
    font-size: 14px;
}
.demodaydetailcon .info .titcon .titname {
    margin-left: 10px;
    float: left;
    font-weight: bold;
    width: 220px;
    text-align: left;
    line-height: 25px;
    font-size: 14px;
}
.alreadycon .info .titcon .titname {
    margin-left: 10px;
    float: left;
    line-height: 25px;
    font-size: 14px;
}
.clear {
    clear: both;
}
.indexcon .willroadshow ul li .maininfo {
    font-size: 14px;
    padding-bottom: 10px;
}
.indexcon .roadshow ul li .maininfo {
    font-size: 14px;
    padding-bottom: 10px;
}
.indexcon .roadsu ul li .maininfo {
    font-size: 14px;
    padding-bottom: 10px;
}
.alreadycon .info .maininfo {
    font-size: 14px;
    padding-bottom: 10px;
}
.indexcon .willroadshow li .maininfo .tjjginfo {
    margin-left: 10px;
    text-align: left;
    height: 20px;
    line-height: 20px;
}
.indexcon .roadshow ul li .maininfo .tjjginfo {
    margin-left: 10px;
    text-align: left;
    height: 20px;
    line-height: 20px;
}
.indexcon .roadsu ul li .maininfo .tjjginfo {
    margin-left: 10px;
    text-align: left;
    height: 20px;
    line-height: 20px;
}
.alreadycon .info .maininfo .tjjginfo {
    margin-left: 10px;
    text-align: left;
    height: 20px;
    line-height: 20px;
}
